{% extends "app/layout.html" %}

{% block content %}

<script type="text/javascript">
        $(function () {
            var temp = "{{alerts}}";
            if (temp != "") {
                alert("{{alerts}}");
                //parent.window.location.href = "/adminStaff";
            }

        });
</script>



<div class="product-details-wrap" style="width:150%">

    <div class="col-lg-12 col-md-12">

        <div class="blog-details-wrap">
            <h1>社区日常编辑</h1>

            <div class="row">

            <div class="comment-reply-box mt-75">
                <form class="comment-form" action="/myCommunityForumsEdit" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="Id" value={{communityforumss.Id}} style="width: 400%" class="form-control">
                    <input type="hidden" name="UsersId" value="{{communityforumss.UsersId}}" style="width: 400%" class="form-control">
                    <input type="hidden" name="oldPath" value="{{communityforumss.path}}" style="width: 400%" class="form-control">

                    <div class="col-md-12">
                        图片:
                        <input type="file" accept="image/*" name="path" multiple style="width: 400%" class="form-control">
                    </div>
                    <div class="col-md-12">
                        帖子标题：
                        <input type="text" style="width: 400%" name="Title" value="{{communityforumss.Title}}" class="form-control" placeholder="日常标题">
                    </div>
                    <div class="col-md-12">
                        发布时间：
                        <input type="datetime-local" style="width: 400%" name="PublichTime" value="{{communityforumss.PublichTime}}" class="form-control">
                    </div>
                    <div class="col-md-12">
                        帖子内容：
                        <textarea type="text" style="width: 400%" name="Content" rows="20" placeholder="日常内容">{{communityforumss.Content}}</textarea>
                    </div>

                    <button class="btn">编辑帖子</button>
                </form>

            </div>
        </div>
    </div>












</div>
























{% endblock %}
