{% extends "app/layout.html" %}
{% load static %}

{% block content %}



    <div class="product-details-wrap" style="width:150%">


        <div class="col-lg-8 col-md-12">
            <div class="blog-details-wrap">

                <div class="blog-thumb blog-details-thumb mb-30">
                    <img style="height: 1260px; width: 1200px" src="{% static 'front/img/icon/index.jpeg' %}"
                         alt="img">
                </div>

            </div>
        </div>


    </div>
























{% endblock %}
